.app2 {
  /* min-height: 100vh; */
  /* background: #18191a; */
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.faq-wrapper {
  /* max-width: 1100px; */
  /* margin: 32px auto; */
  border-radius: 16px;
  /* border: 2px solid #232425; */
  /* background: #18191a; */
  /* padding: 24px; */
  /* padding-top: 100px; */
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.18);
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #1a1a1a;
  padding: 20px 20px;
  border-radius: 10px;
}

.faq-header h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}

.view-btn {
  background: #232425;
  color: #fff;
  border: none;
  border-radius: 32px;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 32px 12px 48px;
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.view-btn .icon {
  position: absolute;
  left: 18px;
  top: 12px;
  font-size: 18px;
  /* color: #eba47a; */
}

.faq-grid {
  display: flex;
  gap: 24px;
}

.faq-column {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 22px 28px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.faq-item.open {
  /* border: 2px solid #eba47a; */
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.toggle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #18191a;
  color: #a0a0a0;
  /* border: 1.5px solid #232425; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}

.faq-answer {
  color: #a0a0a0;
  font-size: 14px;
  margin-top: 18px;
  line-height: 1.5;
}

.faq-form {
  flex: 1;
  background: #1A1A1A;
  border-radius: 12px;
  padding: 32px;
  min-width: 320px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  height: fit-content;
}

.form-title {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}

.faq-form label {
  color: #a0a0a0;
  font-size: 13px;
  margin-bottom: 4px;
}

.faq-form input,
.faq-form textarea {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 14px;
  font-size: 15px;
  outline: none;
}

.faq-form textarea {
  min-height: 80px;
  resize: vertical;
}

.submit-btn {
  background: #CE7D63;
  color: #232425;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  padding: 13px 0;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 8px;
}
